<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h4>{{app_name}}</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>      
      </ul>
      <ul class="navbar-nav ml-auto">          
          <li class="nav-item">
            <a class="nav-link" routerLink="form-nuevo-destino">Nuevo Destino</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>          
        </ul>

    </div>
  </nav>